{
  "option_settings": [
    {
      "option_name": "HOST",
      "value": "0.0.0.0"
    },
    {
      "option_name": "APP_KEY",
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "NODE_ENV",
      "value": "development"
    },
    {
      "option_name": "DRIVE_DISK",
      "value": "local"
    },
    {
      "option_name": "MYSQL_HOST",
      "value": "localhost"
    },
    {
      "option_name": "MYSQL_PORT",
      "value": "3306"
    },
    {
      "option_name": "MYSQL_USER",
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "MYSQL_PASSWORD",
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "MYSQL_DB_NAME",
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "EMAIL_VERIFICATION",
      "value": "false"
    },
    {
      "option_name": "GOOGLE_CLIENT_ID",
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "GOOGLE_CLIENT_SECRET",
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "SMTP_HOST",
      "value": "smtp.mailtrap.io"
    },
    {
      "option_name": "SMTP_PORT",
      "value": "2525"
    },
    {
      "option_name": "SMTP_USERNAME",
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "SMTP_PASSWORD",
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "CACHE_VIEWS",
      "value": "false"
    },
    {
      "option_name": "S3_KEY",
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "S3_SECRET",
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "S3_BUCKET",
      "value": "nottsimagebucket"
    },
    {
      "option_name": "S3_REGION",
      "value": "eu-central-1"
    },
    {
      "option_name": "S3_ENDPOINT",
      "value": "https://s3.eu-central-1.amazonaws.com"
    },
    {
      "option_name": "GCS_KEY_FILENAME",
      "value": "./google-cloud-key.json"
    },
    {
      "option_name": "GCS_BUCKET",
      "value": "bucketName"
    }
  ]
}